@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #808080;
  --text-color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

section {
  padding-left: 10em;
  padding-top: 8em;
  padding-right: 10em;
  padding-bottom:0;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}
.navbar {
  display: block;
}

.link_container img {
  width: 5rem;
}
#title-box {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  max-width: 800px;
}

#footer {
  position: relative;
  text-align: center;
  bottom: 0;
  background-color: var(--bg-color);
  color: #fff;
  padding: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .bx-menu {
    display: block;
    font-size: 3.5rem;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    display: flex;
    flex-direction: column;
  }
}

/* ----------------------------Settings Section Heading Styles------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/

/* --------------------------LEFT HAND SIDE MENU --------------------------*/
.settings h1 {
  /*header*/
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.settings-list {
  font-size: 20px;
  text-align: left;
  list-style-type: none;  
  padding: 0;  
  padding-left: 20px;
  margin-top: 60px; 
}

.settings-list li {
  margin-bottom: 50px;
}
/* 
.settings-list li a {
  color: #ffffff;
  text-decoration: none;
} */
.settings-list {
  flex: 1;
}

.settings-list li a {
  font-size: 1.7rem;
  color: white;
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

/* hovering over the menu changes the color*/
.settings-list a:hover, .settings-list a.active {
  /* color: black; */
  background-color: #3e3f3f;
  /* Slightly lighter blue on hover/active */
  /*margin-left: -15px;
   Offset to the left */
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* Increased padding */
  border-right: 5px solid #1abc9c;
  /* Cyan highlight */
}

/* when the setting is selected, the color is black */
.settings-list li a.selected {
  /* color: black;
  font-weight: bold; */
  border-right: 5px solid #1abc9c;
  padding-right:30px;
}
/* -------------------FORMS------------------------------------------------------------ */
/* makes the text field lengths smaller, moves the form more to the right */
#account-settings-form {
  max-width: 800px;
  margin: 0 auto; /* Center the form */
  padding: 30px;
  background-color: transparent;
  border-radius: 28px;
  /* box-shadow:0 0 10px rgba(0, 0, 0, 0.2) ; */
  box-shadow:0 0 10px #1abc9c ;
}
#password-settings-form {
  max-width: 800px;
  margin: 0 auto; /* Center the form */
  padding: 30px;
  background-color: transparent;
  border-radius: 28px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 10px #1abc9c;
}
/* text fields on the side of the item name rather than under */
.form-group {
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 75px;
}
/* alligning the text fields */
.form-group label {
  white-space: nowrap;
  width: 40%;
  min-width: 100px;
  margin-right: 10px;
  font-weight:400;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
  /*flex-grow: 1;*/
  padding: 7px;
  margin: 0;
  width: 300px;
  /*max-width: 50%;*/
  border-radius: 10px;
  box-sizing:content-box;
  background-color: darkgray;
  color: black;
  margin-right: 90px;
}



/*----------------TO PLACE THE FORM ON THE RIGHT SIDE OF THE SCREEN ------------------------------------------*/
.settings-container {
  display: flex;
  align-items: flex-start;
}

/* adjust this to move the form left or right */
#settings-content {
  flex: 2;
}
.settings-container {
  position: relative;
}

button[type="submit"] {
  background-color: #555;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

.form-head{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size:x-large;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

/* CHANGE */
.navbar a:hover,
.navbar.active {
  background-color: #3e3f3f;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 5px solid #1abc9c;
}
#settingsnav {
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 5px solid #1abc9c;
}

#flash{
  position:fixed;
  /*bottom: 0; */
  /*right:0; */
  top: 120px;
  right : -5px;
  /*width: 100%;*/
  text-align: center;
  padding: 10px 20px;
  /*background-color: rgba(65, 61, 61, 0.7); */
  background-color: #666363;
  color: white;
  font-weight: bold;
  font-size: 15px;
  z-index: 1000; 
  border-radius: 5px;
}
@media only screen and (max-width: 2560px) {
  /* Your CSS rules for 13-inch MacBook screen go here */
  #footer {
      position: absolute;
      text-align: center;
      bottom:0;
      background-color: var(--bg-color);
      color: #fff;
      padding: 0px;
      width: 100%;
      margin-top: 0px;
  }

}

