@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #808080;
  --text-color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

section {
  padding: 10rem 9%;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}
.navbar {
  display: block;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
}
.left h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 2;
  align-items: center;
  display: block;
}
.left h2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
}

.navbar a:hover {
  color: black;
}
.link_container a {
}
.link_container img {
  width: 5rem;
}
#title-box {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  max-width: 800px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 20px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="number"],
.form-group input[type="text"],
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-inline: 50px;
}

.form-group input[type="file"] {
  cursor: pointer;
}

button[type="submit"] {
  background-color: #555;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

#footer {
  position: relative;
  text-align: center;
  bottom: 0;
  background-color: var(--bg-color);
  color: #fff;
  padding: 20px;
  width: 100%;
}
.right h1 {
  align-items: center;
  position: sticky;
}
.bx-menu {
  display: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  .bx-menu {
    display: block;
    font-size: 3.5rem;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    display: flex;
    flex-direction: column;
  }
}

/* ----------------------------Settings Section Heading Styles------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/

/* --------------------------LEFT HAND SIDE MENU --------------------------*/
.settings h1 {
  /*header*/
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.settings-list {
  /* Account, password, pref */
  font-size: 20px;
  text-align: left;
  list-style-type: none; /* Removes bullet points from the links */
  padding: 0; /* Removes default padding */
  padding-left: 20px;
  margin-top: 60px; /* Adds space between the heading and the list */
}

.settings-list li {
  margin-bottom: 50px; /* Adds space between list items */
}

.settings-list li a {
  color: #ffffff;
  text-decoration: none; /* Removes underline from links */
}

/* -------------------FORMS------------------------------------------------------------ */
/* makes the text field lengths smaller, moves the form more to the right */
#account-settings-form {
  max-width: 800px;
  margin: 0 auto; /* Center the form */
  padding: 30px;
  background-color: transparent;
  border-radius: 28px;
}
/* text fields on the side of the item name rather than under */
.form-group {
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
/* alligning the text fields */
.form-group label {
  white-space: nowrap;
  width: 40%;
  min-width: 100px;
  margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
  flex-grow: 1;
  padding: 8px;
  margin: 0;
  width: auto;
  max-width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
}

/*----------------TO PLACE THE FORM ON THE RIGHT SIDE OF THE SCREEN ------------------------------------------*/
.settings-container {
  display: flex;
  align-items: flex-start;
}
.settings-list {
  flex: 1;
}
/* adjust this to move the form left or right */
#settings-content {
  flex: 2;
}

/* HOVER EFFECTS    # for div id || . for class */

.selected {
  color: greenyellow;
  font-weight: bold;
  /* Smooth transition */
}

/* hovering over the menu changes the color*/
.settings-list li a:hover {
  /*background-color: darkgray; */
  color: black;
}

/* when the setting is selected, the color is black */
.settings-list li a.selected {
  color: black;
  font-weight: bold;
}


.settings-container {
  position: relative;
  /* Other styling as needed */
}

.settings-form .form-group button[type="submit"] {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#image-preview-frame {
  color: white;
  font-weight: 300;

  width: 800px;
  height: 200px;
  overflow: hidden;
  border: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}


#profile-picture-preview{
  width: 100%;
  height: 100%;
  object-fit:fill;
  display: none;
}

